* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color:#333;
  background: #fafafa;
}

.player__wrapper {
  border-radius: 10px;
  background: #e6e6e6;
  max-width: 250px;
  padding: 5px;
  align-self: start;
  margin: 0px;
  }



/* grid box for four horizontally aligned controls */

.control-grid  {
  max-width: 375px;
  margin: 0px, auto;
  padding: 2px 0px;
  display: grid;
  
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  column-gap: 5px;
  row-gap: 0px;
  align-items: baseline;
  /*align-content: center;
  

  justify-content: center;
  justify-items: center;
  width: 100%; */

  
}

.item {
  
  color: #fff;
  
  padding: 0px;
  

}

.item:nth-of-type(1) { grid-column:  1/7;}
.item:nth-of-type(1) { height: 15px;}
.item:nth-of-type(2) { grid-column:  1/2;}
.item:nth-of-type(3) { grid-column:  2/4;}
.item:nth-of-type(4) { grid-column:  4/6;}
.item:nth-of-type(5) { grid-column:  6/7;}

button {
  font-size: 10px;
  text-transform: uppercase;
  border: none;
  color: #9b9b9b;
  
  padding: 7px;
  border-radius: 10px;
  background: #e6e6e6;
  box-shadow: 7px 7px 15px #cdcdcd, -7px -7px 15px #ffffff;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  }
  
  button:disabled {
  color: #c9c9c9;
  box-shadow: inset 7px 7px 15px #cdcdcd, inset -7px -7px 15px #ffffff;
  transition: all ease-in-out 0.3s;
  }
  button:disabled:hover {
  color: #c9c9c9;
  box-shadow: inset 5px 5px 15px #cdcdcd, inset -5px -5px 15px #ffffff;
  }
  
  button:hover {
  box-shadow: 4px 4px 15px #cdcdcd, -4px -4px 15px #ffffff;
  }

  #a__button {
  width: 70px;
  border-radius: 12px;
  /* justify-self: self-end; */
  }
  
  #b__button {
  width: 70px;
  border-radius: 10px;
  justify-self: self-start;
  }
  
  #play__button {
  width: 35px;
  justify-self: self-end;
  }
  
  #stop__button {
  width: 35px;
  color: #966f6f;
  justify-self: self-start;
  }
  
  #stop__button:disabled {
  color: #966f6fd3;
  }



  .progress__container {
  display: inline-flex;
  background: #a8a8a8;
  height: 12px;
  width: 100%;
  margin-bottom: 0px;
  border-radius: 10px;
  background: #e6e6e6;
  box-shadow: inset 7px 7px 15px #cdcdcd, inset -7px -7px 15px #ffffff;
  cursor: pointer;
  align-self: center;
  }
  
  .progress__bar {
  background: linear-gradient(360deg, #9c6009, #ed920e);
  border-radius: 0px 0px 0px 0px;
  transition: all ease-in-out 0.03s;
  }
  
  #progress__fill {
  width: 0%;
  }